@import 'bootstrap/dist/css/bootstrap.css';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* * Scroll bar css */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border: 2px;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Boards Labels colors */
.green_dark { background: #4bce97; }
.green { background: #216e4e; }
.green_light { background: #164b35; }

.yellow_dark { background: #ddb30e; }
.yellow { background: #7f5f01; }
.yellow_light { background: #533f04; }

.orange_dark { background: #fca700; }
.orange { background: #9e4c00; }
.orange_light { background: #693200; }

.red_dark { background: #f87168; }
.red { background: #ae2e24; }
.red_light { background: #5d1f1a; }

.purple_dark { background: #c97cf4; }
.purple { background: #803fa5; }
.purple_light { background: #48245d; }

.blue_dark { background: #669df1; }
.blue { background: #1558bc; }
.blue_light { background: #123263; }

.sky_dark { background: #6cc3e0; }
.sky { background: #206a83; }
.sky_light { background: #164555; }

.lime_dark { background: #94c748; }
.lime { background: #4c6b1f; }
.lime_light { background: #37471f; }

.pink_dark { background: #e774bb; }
.pink { background: #943d73; }
.pink_light { background: #50253f; }

.black_dark { background: #96999e; }
.black { background: #63666b; }
.black_light { background: #4b4d51; }